*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-bar{
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  background: hsl(205, 86%, 81%);
}
.brand{
flex: 5;
/* font-size: 0px; */
font-weight: 500;
}
.me-auto{
  /* background-color: blue; */
  width: 100%;
 
  
}
.links{
 
  flex: 1;
  /* justify-content: space-between; */
  /* color: white; */
  text-decoration: none;
  padding: 10px;
  justify-content: space-between;
  color: grey;
  transition:all 0.3s linear;
}

.links:hover{
  /* background: hsl(205, 86%, 81%); */
  color: hsl(205, 78%, 60%);
  /* padding-left: 1.5rem; */
}