.certificate{
    height: 100vh;
}
.head{
    font-size: 40px;
    font-weight: 600;
    text-decoration: underline;
    width: 100%;
    /* background-color: blue; */
    padding:5% 40%;
}
.cer{
    font-size: 25px;
    font-weight: 700;
    font-family: cursive;
    padding: 10px;
    margin: 20px 80px;
    color:crimson;
    text-shadow: 0 5px 15px #FF0000;
    background-color: lightgrey;
    border-radius: 50%;
    /* height: 50px; */
    /* overflow: hidden; */
}

.first{
    padding: 2% 20%;
    animation: move 8s ease-in-out infinite alternate;
    height: 50px;
    
}
.second{
    padding: 2% 30%;
    animation: move 8s ease-in-out infinite alternate;
}
.third{
    padding: 2% 40%;
    animation: move 8s ease-in-out infinite alternate;
}
.fourth{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 50%;
    padding-right: 30%;
    animation: move 8s ease-in-out infinite alternate;
}

@keyframes move {
    25%{
transform: translateY(-50px);
    }

    50%{
        transform: translateY(-80px);
    }

    75%{
        transform: translateY(-110px);
    }
    100%{
        transform: translateY(-140px);
    }
}